.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: transparent;
  margin-bottom: 1.5rem;
  width: 100%;
}
.label {
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  padding: 0;
  color: var(--black);
  margin-bottom: 10px;
}
.message {
  font-size: 12px;
  color: var(--error);
  display: block;
  margin-top: 8px;
}
.input {
  height: 44px;
  padding-left: 1rem;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  background: transparent;
  font-size: 14px;
  padding-right: 10px;
  color: var(--black);
  width: 100%;
  outline: none;

  &--money {
    padding-left: 2.2rem;
  }

  &[type="radio"] {
    accent-color: var(--primary);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
.input::placeholder,
.textarea::placeholder {
  color: var(--neutral-500);
}
.textarea {
  padding: 12px 1rem;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  background: transparent;
  font-size: 14px;
  resize: vertical;
  min-height: 100px;
  height: 100px;
  outline: none;
  outline: none;
}
.icon {
  position: absolute;
  right: 10px;
  top: 2.5rem;
  width: 20px;
  height: auto;
  cursor: pointer;
}
.error .input,
.error .textarea {
  border-color: var(--error);
}
.req {
  color: var(--error);
  font-weight: 600;
}
.length {
  text-align: right;
  font-size: 12px;
  color: #94a3b8;
}
.hint {
  color: var(--text);
  font-size: 12px;
  margin-top: 6px;
}
