.btn {
  font-family: var(--font-jakarta);
  border: 1px solid transparent;
  outline: none;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 500;
  min-height: 44px;

  &--transparent {
    padding: 1rem 0;
  }

  &--fill {
    color: var(--white);
    background: var(--primary);
  }

  &--outline {
    background: var(--white);
    color: var(--primary);
    border-color: var(--primary);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
